.App{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.custom-card:hover{
background-color: white;
}
.createads-card{
   margin: 15px;
}
.createads-main-card{
    /* border: 1px solid grey ; */
    margin-top: 8%;
}
.css-19h6407-MuiTypography-root {
    margin-bottom: 0.1em;
}